{% extends "blog/base.html"%}
{% block content%}

<h1 class="-mt-3">About Us</h1>

    <section class="me-5 mr-5">
        <article class=" p-5">
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Labore accusantium, repudiandae ducimus a voluptate, atque nam voluptatum adipisci, numquam sapiente iure 
                hic animi eligendi repellendus voluptas cumque. Ipsum, eos qui!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, reprehenderit 
                laborum dolorem fuga, mollitia accusantium soluta odio maxime autem blanditiis ea. Nulla maxime 
                laborum dolores blanditiis accusantium deserunt tempore repellat?
            </div>
        </article>
    </section>
{% endblock%}