{% extends "blog/base.html"%}
{% block content%}

<h1 class="mt-5">About Us</h1>

    <section class="me-5 mr-5" style="margin-bottom: 165px;">
        <article class=" ">
            <div>
                This blog application is a personal project that stems from my journey 
                in learning Python frameworks. While exploring various resources, 
                I came across a PDF that used a blog application as a prime example for Django. 
                Having worked with Flask on several projects in my Alx software engineering journey, 
                I thought it was time to complete a Django project. And what better way to do that than by 
                building a blog application, just like the one that introduced me to Django in the first place? 
                This project is not only a showcase of my technical skills, but also a reflection of my passion 
                for learning and building meaningful applications.
            </div>
        </article>
    </section>
{% endblock%}